div:empty {
  display: none;
}
body {
    margin-bottom: 5em;
    color: rgb(50, 52, 50);
}

.github {
    background-color: white;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    padding: 0.1em 0.1em
}

.grid {
    padding-top: 2em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

ol {
  margin-left: 2em;
}

.logo {
    text-align: center;
}

@media only screen and (min-width: 768px) {
}

.menu {
    margin-bottom: 1.2em;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 200%;
}

.menu p {
    margin-bottom: 0;
    margin-left: 1em;
    line-height: 1.2em;
}

.menu > .row > div > ul {
    margin-bottom: 0;
    margin-left: 2em;
    line-height: 1.2em;
}

.menu ul {
  font-size: 0.8em;
  list-style: none;
}

a {
    color: darkred;
}

div.download {
    margin: 2.0em;
    text-align: center;
}

.button, button {
    background-color: rgb(50, 52, 50);
    color: white;
    padding: 0.5em;
    border-radius: 5px;
    font-size: 120%;
    min-width: 80px;
    border: none;
    -webkit-appearance: none;
}

button.run.error {
    background-color: darkred;
}

.big-button {
    display: inline-block;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 200%;
    border-radius: 10px;
    margin: 0 0 0.1em 0;
}

.big-button small {
    margin: 0;
    display: block;
    line-height: 1.1em;
}

@media only screen and (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    max-width: 300px;
  }
}

.sidebar .big-button {
    width: 100%;
}

code {
    font-weight: normal;
}

textarea, .CodeMirror {
    width: 100%;
    background-color: rgb(240, 240, 240);
    padding: 0.5em 1em;
    font-family: consolas, lucida console, ubuntu mono, monospace;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 5px;
}

/* resize http://codemirror.net/demo/resize.html */
.CodeMirror {
  border: 1px solid #eee;
  height: auto;
}
.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}

.example {
    padding: 1em;
    border: 1px solid rgb(215, 218, 214);
    border-radius: 5px;
    margin-bottom: 1em;
}

#counter {
    font-size: 120%;
    padding: 1em;
}

.menu p {
    color: lightgray;
}

ul.toc {
  list-style: none;
}

.sponsor.reaktor {
  max-width: 150px;
  margin-top: 24px;
  margin-left: -6px;
}
