body {
    margin-bottom: 5em;
    color: rgb(50, 52, 50);
}

.grid {
    padding-top: 2em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.logo {
    text-align: center;
}


@media only screen and (min-width: 768px) {
}

.menu {
    margin-bottom: 1.2em;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 200%;
}

.menu p {
    margin-bottom: 0;
    margin-left: 1em;
    line-height: 1.2em;
}

a {
    color: darkred;
}

div.download {
    margin: 2.0em;
    text-align: center;
}

.button, button {
    background-color: rgb(50, 52, 50);
    color: white;
    padding: 0.5em;
    border-radius: 5px;
    font-size: 120%;
    min-width: 80px;
    border: none;
    -webkit-appearance: none;
}

.big-button {
    display: inline-block;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 200%;
    border-radius: 10px;
    margin: 0 0 0.5em 0;
}

.big-button small {
    margin: 0;
    display: block;
    line-height: 1.1em;
}

.sidebar .big-button {
    width: 100%;
}

pre {
    background-color: rgb(215, 218, 214);
    padding: 1em;
    font-family: consolas, lucida console, ubuntu mono, monospace;
    margin-bottom: 1em;
    border-radius: 5px;
}

.example {
    padding: 1em;
    border: 1px solid rgb(215, 218, 214);
    border-radius: 5px;
    margin-bottom: 1em;
}

#counter {
    font-size: 120%;
    padding: 1em;
}

.menu p {
    color: lightgray;
}