<!DOCTYPE html>
{{{ AUTOGENDISCLAIMER }}}
<html>
<head>
<title>{{ title }}</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<meta name="keywords" content="bacon.js, FPR, functional reactive programming, javascript, reactive programming" />
<meta name="description" content="Bacon.js is a functional reactive programming library for javascript." />

<link rel="stylesheet" type="text/css" href="normalize.css" >
<link rel="stylesheet" type="text/css" href="foundation.min.css" >
<link rel="stylesheet" type="text/css" href="codemirror/codemirror.css" >
<link rel="stylesheet" type="text/css" href="marble.css">
<link rel="stylesheet" type="text/css" href="bacon.css" >

<link href='{{{ fonts }}}' rel='stylesheet' type='text/css'>

<script src="{{{ jquery }}}"></script>
<script src="{{{ baconjs }}}"></script>
<script>
  Bacon.$.init($)
</script>


<script src="codemirror/codemirror.js"></script>
<script src="codemirror/javascript.js"></script>

<script src="marble.js"></script>
<script src="example.js"></script>

</script>
</head>

<body>

  <div class="grid row">
    <div class="large-4 columns sidebar">
      <div class="logo">
        <a href="index.html"><img alt="bacon.js logo" src="logo.png" /></a>
      </div>

      <div class="download">
        <a class="button big-button" href="http://cdnjs.cloudflare.com/ajax/libs/bacon.js/{{{version }}}/Bacon.js" download>
          Download Bacon.js
          <small>v{{{ version }}}</small>
          <a class="github" href="https://github.com/baconjs/bacon.js#install">[More install options]</a>
        </a>
      </div>

      <div class="menu">
        <div class="row">
          <div class="large-12 small-6 columns">
            <p> <a href="api.html"> API docs <small>(1.0)</small> </a> </p>
{{{ apiTocContent1 }}}
<p> <a href="api2.html"> API docs <small>(2.0)</small> </a> </p>
{{{ apiTocContent2 }}}
<p> <a href="api3/index.html"> API docs <small>(3.0)</small> </a> </p>
            <p> <a href="tutorials.html"> Tutorials </a> </p>
            <p> <a href="https://github.com/baconjs/bacon.js#install">Install/Download</a> </p>
          </div>
          <div class="large-12 small-6 columns">
            <p> <a href="https://github.com/baconjs/bacon.js/wiki/FAQ">FAQ</a> </p>
          </div>
          <div class="large-12 small-6 columns">
            <p><a href="https://reaktor.com/"><img src="supported-by-reaktor.png" class="sponsor reaktor"></a></p>
          </div>
        </div>
      </div>

    </div>

    <div class="large-8 columns">
      <div class="main">
{{{ content }}}
      </div>
    </div>
  </div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-58079902-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
